html,body{
    margin: 0;
    padding: 0;
}

#header-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: blue;
}

#footer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: blue;
}

#header-div p{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
}

#pizze{
    text-align: center;
}

#pizze p{
    font-size: 50px;
}

#pizze b{
    font-size: 75px;
}

#add-cart{
    background-color: aqua;
}